/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
    margin: 0;
    padding: 0;

 }
 body{
    background-color: rgb(215, 231, 249);
 }

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 62, 121, 0.886);
    border-bottom: solid 4px rgb(239, 147, 147); 
    font-family: "Oleo Script", serif;
}

header h1{
    margin-left: 10px;
    color:#e5e1e1
}

.header-btn{
    font-family: "BIZ UDGothic", serif;
    margin-right: 10px;
}

header a{
color: white;
}

header a:hover{
color: rgb(244, 111, 111); 
}